<body>
  <header>
    <div class="container">

      <div class="d-flex">

        <a routerLink="/" class="logo mr-auto p-2"><span style=color:black;>&lt;</span>Koma<span
            style=color:black;>&gt;</span></a>

        <nav>
          <a routerLink="/">Home</a>
          <a routerLink="/about" routerLinkActive="active">About</a>
          <a routerLink="/project">Project</a>
          <a routerLink="/contact">Contact</a>
        </nav>
      </div>
    </div>

  </header>
  <div class="hederAbout">
    <h1>About Me</h1>
    <p>A web designer.</p>
  </div>

  <div class="conteiner">

    <div class="d-flex justify-content-center">

      <div class="d-flex flex-column ">

        <div class="p-2 ">Flex item 2</div>
        <div class="p-2 ">Flex item 3</div>
      </div>
    </div>
  </div>


</body>
