<div class="nav">
  <label for="toggle">&#9776;</label>
  <input type="checkbox" id="toggle" (click)="toggleCards()">
  <div class="menu">
    <a routerLink="/">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/project">Project</a>
    <a routerLink="/contact">Contact</a>
  </div>
</div>

<div class="cont">
  <div *ngIf="toggle">
    <div class="AboutMineInfo">
      <h1>Hi</h1>
      <br />
      <p>I'm a web designer based in Ukrain , Kiev. <br />I have a passion for web design and love to
        create <br />for
        web and mobile devices.</p>

    </div>



    <!--Animation -->

    <!-- <div class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
  </div> -->

    <!--Animation end -->

    <div class="Two">
      <h1>What I can do:</h1>
      <p>I'm a developer, so I know how to create your website to run across<br /> devices using the latest technologies
        available.</p>
      <div class="work">
        <h1>Skill LVL : </h1>

      </div>

    </div>

    <div class="center">
      <div class="skillbox">
        <p>Html</p>
        <p>80%</p>
        <div class="skill">
          <div class="skill_level  line line1"></div>
        </div>
      </div>

      <div class="skillbox">
        <p>Css</p>
        <p>65%</p>
        <div class="skill">
          <div class="skill_level line line2"></div>
        </div>
      </div>

      <div class="skillbox">
        <p>Javascript</p>
        <p>70%</p>
        <div class="skill">
          <div class="skill_level  line line3"></div>
        </div>
      </div>
      <div class="skillbox">
        <p>Angular</p>
        <p>90%</p>
        <div class="skill">
          <div class="skill_level line line4"></div>
        </div>
      </div>
      <div class="skillbox">
        <p>Typescript</p>
        <p>70%</p>
        <div class="skill">
          <div class="skill_level line line5"></div>
        </div>
      </div>
      <div class="skillbox">
        <p>Photoshop</p>
        <p>60%</p>
        <div class="skill">
          <div class="skill_level line line6"></div>
        </div>

      </div>

    </div>
    <div id="footerMenu">
      <a href="https://github.com/KomaVena"><img src="assets/img/github.svg" tooltip="Github"></a>
      <a href="mailto:n.dovnich@gmail.com?subject="><img src="assets/img/google-plus.svg" tooltip="Gmail"></a>
      <a href="https://t.me/KomaVe4na"><img src="assets/img/telegram.svg" tooltip="Telegram"></a>
    </div>
  </div>
</div>

<!--skill end-->







<div class=" kenovadageds">

  <a href="https://t.me/KomaVe4na" target="_blank" class="kenovadaged telegram" tooltip="Telegram"><i
      class="fab fa-google-plus-g"></i>

    <img src="assets/img/telegram.svg" alt="">

  </a>

  <a href="mailto:n.dovnich@gmail.com?subject=" target="_blank" class="kenovadaged gmail" tooltip="Gmail"><i
      class="fab fa-twitter"></i>

    <img src="assets/img/google-plus.svg" alt="">

  </a>

  <a href="https://github.com/KomaVena" target="_blank" class="kenovadaged github" tooltip="Github"><i
      class="fab fa-pinterest-p"></i>

    <img src="assets/img/github.svg" alt="">

  </a>

  <a class="kenovadaged mainkenovadaged"><i class="fas fa-share-alt"></i>

    <img src="assets/img/Mein.svg" tooltip="Mein" alt="">

  </a>


</div>

<div class="fon"></div>
