.cont {
  background: rgba(205, 214, 223, 0.3);
  margin: 0 auto;
  width: 50%;
  margin-top: 3%;
  text-align: center;
  color: white;
  font-size: 18px;
}

.fon {
  padding-bottom: 5%;
}

.AboutMineInfo {
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 5%;
}

.AboutMineInfo h1 {
  font-size: 3.5vw;
  color: #fef57e;
  font-weight: bolder;

}

.Two {
  font-weight: bold;
}

.Two h1 {
  color: #fef57e;
  font-weight: bolder;
  font-size: 3vw;
}

.Two p {
  padding-top: 2%;
  font-weight: bold;
}

.work {
  padding-top: 2%;
}

.work h1 {
  padding-top: 2%;
  font-size: 3vw;
}

// Skill start

.center {
  padding-top: 1%;
  width: 80%;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 5%;
}

.skillbox {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.skillbox {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.skillbox p:nth-child(2) {
  float: right;
  position: relative;
  top: -25px;
}

.skill {
  background: #262626;
  padding: 4px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.skill_level {
  background: #fef57e;
  width: 100%;
  height: 6px;
}


.line {
  display: block;
  box-shadow: 0 0 10px #fef57e;
}

.line1 {
  width: 80%;
  animation: line1 4s;
}

.line2 {
  width: 80%;
  animation: line2 4s;
}

.line3 {
  width: 70%;
  animation: line3 4s;
}

.line4 {
  width: 70%;
  animation: line4 4s;
}

.line5 {
  width: 85%;
  animation: line5 4s;
}

.line6 {
  width: 80%;
  animation: line6 4s;
}

@keyframes line1 {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

@keyframes line2 {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

@keyframes line3 {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}

@keyframes line4 {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}

@keyframes line5 {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}

@keyframes line6 {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

// Skill end

