.cont {
  background: rgba(205, 214, 223, 0.3);
  margin: 0 auto;
  width: 50%;
  height: auto;
  margin-top: 3%;
  text-align: center;
  color: white;
  font-size: 18px;
}

.AboutMineInfo {
  font-weight: bold;

}
.AboutMineInfo h1 {
  font-size: 4vw;
  color: #fef57e;
  font-weight: bolder;
  padding-top: 10%;
  padding-bottom: 4%;
}
.Message {
  padding-top: 5%;
  padding-bottom: 15%;
}
.Message a {
  color: white;
  border: 2px solid #fef57e;
  padding: 10px;
  text-decoration: none;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 4px;
}

.Message a:hover {
  background-color: rgba(255, 255, 255, 0.335);
  color: #fef57e;

}

.Email {
  padding-top: 7%;
  padding-bottom: 10%;
}
