$Menu:rgb(206, 148, 245);

.conteiner {
  width: 80%;
  margin: 0 auto;
}

header {
  background: $Menu;
  padding: 1em ;
}

nav {
  float: right;
}

a.logo {
  font-weight: bolder;
  color: red;
  font-size: 20px;
}
nav {
  margin-top: 0.5%;

}
nav a.active {
  color: rgb(0, 0, 0);
  border: none;
  border-bottom: 1px solid #ff0000;
  outline: none;
  text-decoration: none;
}
nav a {
  padding-bottom: 6px;
  word-spacing: 20px;
  border: none;
  background-color: $Menu;
  color: #bababa;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}
