<header>
  <div class="container">
    <a routerLink="/" class=logo><span style=color:black;>&lt;</span>Koma<span style=color:black;>&gt;</span></a>
  </div>

  <nav>
    <ul>
      <li><a href="#" routerLink="/">Home</a></li>
      <li><a href="#" routerLink="/about">About me</a></li>
      <li><a href="#" routerLink="/project">My Project</a></li>
      <li><a href="#" routerLink="/contact"> Contact</a></li>
    </ul>
    <input type="button" value="1" />
    <input type="button" value="2" routerLink="/about" />
    <input type="button" value="3" />
    <input type="button" value="4" />
    <input type="button" value="5" />
  </nav>

</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
