<header>

        <div class="conteiner">
      
          <a routerLink="/" class=logo><span style=color:black;>&lt;</span>Koma<span style=color:black;>&gt;</span></a>
      
          <nav>
          
            <div id="buttons">
          
              <button class="butn" routerLink="/">Home</button>
              <button class="butn" routerLink="/about">About me</button>
              <button class="butn" routerLink="/project">My project</button>
              <button class="butn" routerLink="/contact">Contact</button>
            
            </div>
          
          </nav>
      
        </div>
      
      </header>
      <p>project</p>