.cont {
  background: rgba(205, 214, 223, 0.3);
  margin: 0 auto;
  width: 50%;
  margin-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  color: white;
  font-size: 18px;
}

.fon {
  padding-bottom: 5%;
}

.AboutMineInfo h1 {
  color: #fef57e;
  font-weight: bolder;
  padding-top: 5%;
}

.AboutMineInfo p {
  font-weight: bold;
  font-size: 18px;
}

.AboutMineInfo a {
  font-size: 18px;
  color: #fef57e;
  text-decoration: none;
  border-bottom: 3px solid white;
}
// Card start 

.cardText {
  padding-top: 2%;
  text-align: center;
}

.cardText h2 {
  font-weight: bolder;
}

.cardText p {
  font-weight: bold;
}

.cardText a {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
 -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.cardText a {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border: 2px solid #fef57e;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(250, 223, 105, 0.37);

  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.cardText a:hover {
  color: #fef57e;
  background-color: rgba(255, 255, 255, 0.335);
}

.cardMein {
  font-size: 18px;
  padding-top: 4%;
  text-align: center;
  height: 20%;
  width: 80%;
  margin: 20px auto;
  -webkit-perspective: 1200;
  perspective: 1200;
  -moz-transform: perspective(1200px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

.flipper {
  position: relative;
  width: 100%;
  height: 250px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .7s linear;
  -moz-transition: .7s linear;
  -o-transition: .7s linear;
  transition: .7s linear;
}

.front,
.back {
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 20px 20px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

// BkgImg start
.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background-image: url("src/assets/img/one.png");
  box-shadow: 0 8px 6px -6px black;
  opacity: 0.9;
  cursor: pointer;
}

.frontOne p {
  color: #818285;
}

//bkgImg end

h3 {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 15px;
}

p {
  font-size: 14px;
  line-height: 25px;
}

.header h3 {
  color: #18191a;
}

.front p {
  color: #818285;
}

.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background: rgba(220, 212, 178, 0.26);
  color: white;
  box-shadow: 0 8px 6px -6px black;
}

.back h3 {
  position: relative;
}

.back h3:after {
  content: "";
  width: 50px;
  height: 1px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  background: white;
  margin-left: -25px;
}

.back p {
  padding-top: 15px;
}

.cardMein:hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
// Card end
