
 
<div class="bg">

      <div class="intro">

        <div class="start"> Hello! My name is Nikita, and I -

        </div>

        <h1>Frontend Developer</h1>

        <div class="start">Your desire, our work.
          <br>
          Сreating high-quality FrontEnd products <span style=color:#fef57e>!!!</span>
        </div>
        <div>
          <nav>

            <a routerLink="/" routerLinkActive="active">Home</a>
            <a routerLink="/about" routerLinkActive="active">About</a>
            <a routerLink="/project" routerLinkActive="active">Project</a>
            <a routerLink="/contact" routerLinkActive="active">Contact</a>

          </nav>
        </div>
      </div>
    </div>

