.bg {
  background-image: url(src/assets/img/tri4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: auto;
  color: white;
}

.intro {
  text-align: center;
  align-items: center;
  padding-top: 11%;
  height: 100%;

}

.intro h1 {
  font-weight: bolder;
  font-size: 75px;
  letter-spacing: 1.5px;
  color: #fef57e;
}

.start {
  font-family: 'Robot', sans-serif;
  font-size: 16px;
  text-transform: none;
  font-weight: bolder;
}

nav {
  margin-top: 0.5%;

}


nav a.active {
  color: white;
  border: none;
  border-bottom: 5px solid #ff0000;
  outline: none;
  text-decoration: none;

}

nav a {
  padding-bottom: 6px;
  word-spacing: 20px;
  border: none;
  color: #fef57e;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  font-weight: bolder;
}
