<header>

  <div>
 
    <div class="intro">

      <div class="start">Hello! My name is Nikita, I -</div>

      <h1>Frontend Developer</h1>

      <div class="start">
        Lorem ipsum dolor sit amet.
        <br>
        Lorem ipsum dolor sit amet consectetur.
      </div>

    </div>
  </div>

    <div id="buttons">

      <button autofocus class="butn" routerLink="/">Home</button>
      <button class="butn" routerLink="/about">About me</button>
      <button class="butn" routerLink="/project">My project</button>
      <button class="butn" routerLink="/contact">Contact</button>
    </div>

 
</header>


<div class="container">




</div>
