
//Content start

.intro {
  text-align: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
}

.intro h1 {
  font-weight: bolder;
  font-size: 5vw;
  letter-spacing: 1.5px;
  color: #fef57e;
}

.start {
  text-transform: none;
  font-weight: bolder;
  font-size: 18px;
}

// Content end


