<div class="nav">
  <label for="toggle">&#9776;</label>
  <input type="checkbox" id="toggle" (click)="toggleCards()">
  <div class="menu">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/project">Project</a>
    <a routerLink="/contact">Contact</a>
  </div>
</div>



<div *ngIf="toggle">
  <div class="cont ">
    <div class="intro">

      <div class="start"> Hello! My name is Nikita, and I -

      </div>

      <h1>Frontend Developer</h1>

      <div class="start">Your desire, our work.
        <br>
        Сreating high-quality FrontEnd products <span style=color:#fef57e>!!!</span>
      </div>

    
    </div>

  </div>





</div>



<div class="kenovadageds">

  <a href="https://t.me/KomaVe4na" target="_blank" class="kenovadaged telegram" tooltip="Telegram"><i
      class="fab fa-google-plus-g"></i>

    <img src="assets/img/telegram.svg" alt="">

  </a>

  <a href="mailto:n.dovnich@gmail.com?subject=" target="_blank" class="kenovadaged gmail" tooltip="Gmail"><i
      class="fab fa-twitter"></i>

    <img src="assets/img/google-plus.svg" alt="">

  </a>

  <a href="https://github.com/KomaVena" target="_blank" class="kenovadaged github" tooltip="Github"><i
      class="fab fa-pinterest-p"></i>

    <img src="assets/img/github.svg" alt="">

  </a>

  <a class="kenovadaged mainkenovadaged"><i class="fas fa-share-alt"></i>

    <img src="assets/img/Mein.svg" tooltip="Mein" alt="">

  </a>

</div>
